<div class="container"> <strong> Personal Trainers </strong>
  <div class="row justify-content">
    <div class="col-6">

      <ul id="personalized_trainers">
        <% @personalized_trainers.each do |personalized_trainer| %>
          <li>
            <% if personalized_trainer.search %>
            <i class="fa fa-check-square-o"></i>
            <% else %>
            <i class="fa fa-square-o"></i>
            <% end %>
            <%= link_to personalized_trainer.name, personalized_trainer_path(personalized_trainer.id) %>
          </li>
        <% end %>  
      </ul>

      <%= link_to new_personalized_trainer_path do %>
      <i class="fa fa-plus"></i> 
      <% end %>
    </div>
  </div>
</div>


