<! this is the view for the personalized_trainer show page.>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>This is the show page for the personal trainer</h1>

      <h2>Name: <%= @personalized_trainer.name%></h2>
      <p>Category: <%= @personalized_trainer.category%></p>
    </div>
  </div>
</div>
