// Specific CSS for your home-page

.btn-success {
  text-decoration: none;
  color: black;
  background-color: #EDB518;
  border-color: #EDB518;
}

.btn-success:hover {
    background-color: #C58D0B;
    border-color: #EDB518;
}

 @supports (-webkit-text-stroke: 1px black) {
.stroke-heading {
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
  }
}

 body {
  background: rgb(237,181,24);
  background: linear-gradient(90deg, rgba(237,181,24,1) 0%, rgba(121,3,29,1) 63%, rgba(0,4,7,1) 92%);
}


